.cont1{
    display: flex; 
}

.cont2{
    display: flex;
}

.botao{
    width: 100px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(221, 221, 221) ;
}

.princ{
    margin-left: 280px;
    margin-top: 50px;
}

.primeiro{
    flex-wrap: wrap;
}

.imagem{
    height: 20px;
    width: 20px;
}